<% wrap_layout :root_layout do %>

    <% blog.articles[0...5].each do |current_article| %>
        <%= partial "partials/main",  :locals => { :article => current_article } %>
    <% end %>


        <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
    <% end %>


    <% if paginate %>
    <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
    <% end %>
    <% end %>


<% end %>