

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>0foo.dev<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "stylesheets/site" %>
    <%= javascript_include_tag "site" %>

  </head>
  <body>
    <%= partial "partials/navbar" %>


    <div id="main-root" class="flex-ns w-60 center">

      <main class="flex flex-column w-70-ns w-100 pr3">
        <%= yield %>
      </main>

      <aside id="sidebar-root" class="w-30-ns w-100"> 
        <%= partial "partials/sidebar" %>
      </aside>

    </div>

      <%= partial "partials/footer" %>
  </body>
</html>


     