<article>

      <div class="flex-ns">

        <div class="w-20-ns w-100">
            <a class="no-underline" href="<%= article.url %>">
                <% if defined? article.data.image %>
                    <img class="db br3" src="/images/<%=article.data.image%>"/>
                <% else %> 
                    <img class="db br3" src="/images/johnny5.jpeg"/>
                <% end %>
            </a>
        </div>

        
        <div class="w-80-ns pl3-ns pr3-ns w-100">

            <div>
                <a class="no-underline" href="<%= article.url %>">
                    <div class="di foo-header">
                        <%= article.title %>
                    </div>
                </a>
            </div>
            <div>
                <% if defined? type and type == "full" %>
                    <%= article.body %>
                <% else %>
                    <%= article.summary %>
                <% end %>
            </div>

            <div class="article-read-more">
                <% if defined? type and type == "full" %>
                <% else %>
                    <a href="<%= article.url %>" class="no-underline"> - Read more - </a>
                <% end %>
            </div>

            <div>
                <time><%= article.date.strftime('%b %e %Y') %></time>, author: <% if defined? article.data.author %> 
                <%= article.data.author  %>
                <% else %> 
                    0foo
                <% end %> 
            </div>



        </div>

      </div>
    </article>

<hr/>